.register-container {
  text-align: center;
  height: 60vh;
  width: 40%;
  margin: 100px auto;
}
.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container h1 {
  margin-bottom: 10px;
}

.register-container input {
  border: none;
  outline: none;
  background-color: var(--color-light-gray);
  padding: 10px;
  margin: 10px 0;
  width: 97%;
}

.register-container button {
  margin-bottom: 20px;
}
