.home-services-container {
  background-color: var(--color-light-blue);
  text-align: center;
  padding: 80px 0;
}

.home-service-container {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: auto;
}

.home-services-content p {
  width: 50%;
  margin: 30px auto 50px;
}

.home-services-content button {
  background-color: var(--color-red);
  color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 5px;
  margin: 80px 0 0;
  font-size: 1em;
}
