.statistics-section {
  padding: 100px 0;
  background-color: var(--color-dark-blue);
}

.statistics-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: auto;
}

.statistics-content {
  width: 50%;
  margin: auto;
}

.statistics-content h2 {
  color: var(--color-red);
  display: flex;
  font-size: 6em;
  justify-content: center;
}

.statistics-content p {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  width: 70%;
  margin: auto;
}

.statistics-small {
  font-size: 0.4em;
  margin-top: 20px;
}
