:root {
  --color-red: #e12454;
  --color-black: #111111;
  --color-gray: #898989;
  --color-light-gray: #ebebeb;
  --color-footer-text: #adb3b8;
  --shadow-black: #00000009;
  --shadow-black-light: #0000000e;
  --color-dark-blue: #223645;
  --color-light-blue: #ebf5f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.section-heading {
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--color-gray);
  font-size: 1em;
}

.section-title {
  font-size: 2.3em;
  color: var(--color-dark-blue);
}

.section-content {
  color: var(--color-gray);
  font-size: 1.1em;
  font-weight: 500;
}

.red-button {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
}
